@import './assets/stylesheets/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f5f5;
    --foreground: #070707;
  }

  .dark {
    --background: #070707;
    --foreground: #f5f5f5;
  }
}
