@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Book.woff2') format('woff2');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
